h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9cm;
}
h2{
    justify-content: center;
    text-align: center;
    align-items: center;
}
body{
    background: linear-gradient(-77deg ,rgb(214, 23, 36),rgb(238, 132, 18));
}